/* 
    This is a comment 

    UTILITY CLASSES
    These classes can be applied to any element to change its color.
    
*/

.flex-row-space-between{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

ul {
    list-style: none;
    gap: 1em;
    font-family: 'Iosevka Charon', sans-serif;
    font-size: 1em;
}

li {
    display: flex;
    flex-direction: row;
    align-items: center;   
}

h1 {
    font-family: 'Iosevka Charon', sans-serif;
    font-size: 3em;
    text-transform: uppercase;
    color: #333;
}   
h2 {
    font-family: 'Iosevka Charon', sans-serif;
    font-size: 1.5em;
    text-transform: uppercase;
    color: #111;
}

h2:hover{
    font-family: 'Iosevka Charon', sans-serif;
    font-size: 1.5em;
    text-transform: uppercase;
    transition: color 0.5s;
    color: green;
}   